body {
    background-color: #000;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: #fff;
    max-width: 100%;
    box-sizing: border-box;
}

p {
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.8;
    color: #ccc;
    max-width: 100%;
    box-sizing: border-box;
}

.head {
    background-color: #575757;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
}

.icon-menu,
.icon-logo {
    height: 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    max-width: 1000px;
    margin: 10px 0 80px;
    width: 100%;
    box-sizing: border-box;
}

.block {
    border: 3px solid #fff;
    background-color: #444;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.text-block {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-sizing: border-box;
}

.footer {
    background-color: #575757;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0 10px;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-container {
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1320px;
    margin: 0 auto;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .menu {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .block {
        max-width: 100%;
        width: 100%;
    }

    .footer-container {
        padding: 0;
    }

    .head-container {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px;

    }
}

@media (min-width: 1440px) {
    .menu {
        grid-template-columns: repeat(3, 1fr);
    }
}